<div class="nhomtk">
  <h2>THÔNG TIN NHÓM TK</h2>
  <hr>
  <%= form_for(:dmnhomtk, :url => {:action => 'create'}) do |f| %>
      <%= render(:partial => "form", :locals => {:f => f}) %>

  <% end %>
  <hr>
  <%= link_to("<< Xem danh sách ", :action => 'index', :class => 'action index') %>
</div>
